$mainLight: #C9C9C9;
$mainDark: #222222;
$secondaryLight: #CEC7A6;
$secondaryDark: #363636;
$green: #00B285;
$orange: #FFC165;
$grey: #ABABAB;
$white: #FFF;

$maxWidthLayout: 1200px;
$mobileBreakPoint: 950px;
$mapGradient: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.5) 0.01%, rgba(0, 0, 0, 0) 100%);

@mixin transition {
  transition: .18s ease all;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background: $mainDark;
}

h1 {
  margin: 42px 0 0;
  color: $green;
  font-size: 42px;
  @media (max-width: $mobileBreakPoint) {
    font-size: 32px;
    margin: 32px 0 0;
  }
}

h2 {
  margin: 38px 0 0;
  color: $green;
  font-size: 32px;
  @media (max-width: $mobileBreakPoint) {
    font-size: 24px;
  }
}

h3 {
  margin: 32px 0 0;
  color: $secondaryLight;
  font-size: 24px;
  @media (max-width: $mobileBreakPoint) {
    font-size: 18px;
  }
}

p, ul {
  margin: 10px 0 0;
  color: $mainLight;
  font-size: 16px;
  line-height: 1.5
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

em {
  display: block;
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  color: $grey;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.white {
  color: $white;
}

.lighter {
  color: $secondaryLight;
}

.single-list {
  margin: 10px 0 0;
}

.main {
  width: 100%;
  max-width: $maxWidthLayout;
  margin: 0 auto 42px;
}

.main-header {
  padding: 42px 45px 0;
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobileBreakPoint) {
    flex-wrap: wrap;
    padding: 22px 22px 0;
  }
}

.main-small {
  display: block;
  color: $orange;
  padding: 8px 16px;
  background: $secondaryDark;
  font-weight: 500;
  font-size: 16px;
  border-radius: 3px;
  width: fit-content;
}

.main-title {
}

.main-description {
  color: $mainLight;
  font-size: 36px;
  margin: 14px 0 0;
  font-weight: 600;
  line-height: 1.2;
  span {
    display: block;
  }
  @media (max-width: $mobileBreakPoint) {
    font-size: 24px;
  }
}

.main-image {
  width: 540px;
  background: linear-gradient(0deg, $green 0%, $mainDark 60%);
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  img {
    padding-left: 30px;
  }
  @media (max-width: $mobileBreakPoint) {
    width: 100%;
    margin-top: 20px;
    img {
      width: 80%;
    }
  }
}

.main-button {
  margin-top: 52px;
}

.button-action {
  padding: 8px 32px;
  background: $green;
  color: $white;
  font-weight: 700;
  border: transparent;
  border-radius: 3px;
  line-height: 34px;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: -2px;
  @include transition;

  &:hover {
    outline: 2px solid $green;
    background: transparent;
    color: $green;
    @include transition;
  }
}

.content {
  padding: 58px 45px 0;
  @media (max-width: $mobileBreakPoint) {
    padding: 8px 22px 0;
  }
}

.content-aside {
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: $mobileBreakPoint) {
    flex-direction: column;
    .aside-tour-start {
      width: fit-content;
    }
    .aside-button {
      float: none;
    }
  }
}

.content-wrapper {
  padding-right: 40px;
}

.aside {
  margin: 38px 0 0;
  @media (max-width: $mobileBreakPoint) {
    margin: 18px auto 0;
  }
}

.aside-tour-start {
  padding: 10px 25px;
  border-radius: 5px;
  background: $secondaryDark;
  p {
    font-size: 18px;
    margin-top: 0;
  }
}

.aside-map {
  width: 340px;
  height: 194px;
  margin-top: 24px;
  border-radius: 10px;
  background: $mapGradient,
  url("../img/customs-map-preview.png") no-repeat;
  position: relative;

  img {
    z-index: 0;
  }

  h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 14px 20px;
  }

  small {
    display: block;
    color: $white;
    font-size: 16px;
    margin-top: 4px;
  }
}

.aside-button {
  margin-top: 24px;
  float: right;
}

.button-no-action {
  padding: 8px 32px;
  background: transparent;
  color: $green;
  font-weight: 700;
  border: transparent;
  border-radius: 3px;
  line-height: 34px;
  cursor: pointer;
  outline: 2px solid $green;
  outline-offset: -2px;
  @include transition;

  &:hover {
    outline: 2px solid transparent;
    background: $green;
    color: $white;
    @include transition;
  }
}

.rewards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;

  & .reward:not(:last-child) {
    margin-right: 30px;
  }
  @media (max-width: $mobileBreakPoint) {
    flex-wrap: wrap;
    justify-content: flex-start;
    .reward {
      margin-bottom: 20px;
      margin-right: 30px;
    }
  }
}

.reward {
  background: $secondaryDark;
  padding: 14px 20px;
  width: 100%;
  border-radius: 5px;
  max-width: 255px;

  & p:first-child {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }

  & p:last-child {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
  }
}

.accordion-button {
  width: 100%;
  height: 52px;
  background: $secondaryDark;
  color: $secondaryLight;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  @include transition;
  @media (max-width: $mobileBreakPoint) {
    font-size: 16px;
  }
  &:hover {
    @include transition;
    background: $secondaryLight;
    color: $secondaryDark;
  }
  &.active {
    background: $secondaryLight;
    color: $secondaryDark;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
      @include transition;
      background: $secondaryDark;
      color: $secondaryLight;
    }
  }
}
.accordion {
  max-height: 0;
  overflow: hidden;
  background: $secondaryLight;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @include transition;
  p {
    margin: 18px;
    color: $secondaryDark;
  }
}

.sponsor {
  max-width: 255px;
  background: $secondaryDark;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;

  img {
    margin: 16px;
  }

  p {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }
}

.popup {
  display: none;
  z-index: -1;
}

.popup.popup-open {
  display: block;
  z-index: 10;
  .popup-back {
    width: 100vw;
    height: 100vh;
    background: $mainDark;
    opacity: .7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
  .popup-content {
    background: $mainDark;
    border: 2px solid $mainLight;
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    padding: 20px;
    z-index: 10;
    @media (max-width: $mobileBreakPoint) {
      top: 20%;
      width: 80%;
    }
    h2 {
      margin: 0;
      display: flex;
      justify-content: space-between;
    }
    button {
      background: transparent;
      border: none;
      color: $mainLight;
      cursor: pointer;
    }
  }
}


